<form method="post" action="{{ path('sygesca_groupe_delete', {'id': groupe.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce groupe?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groupe.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
